.pets {
}

.pets-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 10px;
}

.pets-title {
    text-transform: uppercase;
    text-align: center;
}

.pets-card {
    width: 100px;
    height: 300px;
    background: black;
    color: white;
}