.pets {
    position: relative;
}

.pets-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 10px;
}

.pets-title {
    text-transform: uppercase;
    text-align: center;
}

.pets-card {
    width: 200x;
    height: 500px;
    background: black;
    color: white;
    margin: 0 10px;
    padding: 20px;
}

.pets-image {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.pets-info {
    text-align: center;
}

.pets-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem 2rem;
    background: white;
    color: black;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
}